doctype html
html
  head
    title= title
  body
    h1 Update Custom Object Form
    form(action="/update-cobj" method="post")
      label(for="name") Name:
      input(type="text" name="name" required)
      // Añadir otros campos de formulario según sea necesario
      button(type="submit") Submit
    a(href="/") Return to the homepage
